//Buttons
.button, *[role=button] {
	display: inline-block;
	padding: 9px 14px;
	background-color: var(--color-accent-1);
	border: solid 1px transparent;
	
	&:link, &:active, &:visited {
		color: var(--textColor-inverted);
	}
	
	&:hover, &:focus {
		color: var(--color-accent-1);
		background-color: transparent;
		border: solid 1px var(--color-accent-1);
	}
	
	&.secondary {
		background-color: transparent;
		border: solid 1px var(--textColor-body);
		color: var(--textColor-body);
		
		&:link, &:active, &:visited {
			color: var(--textColor-body);
		}
		
		&:hover, &:focus {
			color: var(--textColor-body);
			text-decoration: underline;
			background-color: var(--color-visual-grouping);
		}
	}
	
	aside & {
		display: block;
		text-align: center;
	}
}

a[role=button] {
	text-decoration: none !important;
}