@use 'scss-variables';

// Styles for the global page header

header {
  display: flex;
  gap: var(--grid-gap-mobile, 500px);

  @media (min-width: #{scss-variables.$break-point-desktop}) {
    gap: var(--grid-gap-desktop, 500px);
  }

  h1 {
    flex-grow: 1;
  }
}
