@use 'scss-variables';
@use 'typography';

// Layout definitions for <main class=default>
main.default {
  // The desktop design was tailored to 1728px wide (16" MacBook Pro), it had
  // 12 columns with a 48px (3rem) gutter (16px/1rem on mobile), the central
  // six are used to anything that is not an illustration. The central six
  // columns are 49.5rem wide at 1rem=16px.

  // The mobile layout technically has columns, but it uses only all four at
  // the same time.

  section, h2, p {
    max-width: 49.5rem;
    margin-left: auto;
    margin-right: auto;
  }

  section {
    &:has(aside) {
      display: flex;
      flex-direction: column;
    }
    @media (min-width: #{scss-variables.$break-point-phablet}) and (max-width: #{scss-variables.$break-point-tablet-}){
      &:has(aside) {
        display: block;
      }
    }
    @media (min-width: #{scss-variables.$break-point-tablet}){
      &:has(aside) {
        flex-direction: row;
        column-gap: var(--grid-gap, 500px);
      }
      &.two-columns {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-flow: row;
        gap: var(--grid-gap);
      }
    }
  }

  aside {
    margin: var(--spacer-line-break) 0 var(--spacer-full) 0;
    &.floor {
      align-self: flex-end;
      margin: var(--spacer-line-break) 0 0 0;
    }
    @media (min-width: #{scss-variables.$break-point-phablet}) and (max-width: #{scss-variables.$break-point-tablet-}){
      float: right;
      margin: 0 0 var(--spacer-full) var(--grid-gap) !important;
      width: calc(50% - (var(--grid-gap) / 2));
    }
    @media (min-width: #{scss-variables.$break-point-tablet}){
      margin: 0;
      flex-basis: 33.33%;
    }
    order: 2;
    box-sizing: border-box;
    flex-grow: 0;
    flex-shrink: 0;

    figure {
      margin: 0 0 1.5rem 0;
      padding: 0;
      font-size: 0;
      line-height: 0;

      figcaption {
        @include typography.body-text();
      }

      img {
        width: 100%;
        height: auto;
      }
    }
  }
  .two-columns > div {
    margin-top: 0 !important;
    margin-bottom: 0 !important;

  }

  figure {
    margin: var(--spacer-line-break) 0 var(--spacer-full) 0;
    * {
      max-width: 100%;
    }
  }

  .visually-grouped-block {
    background-color: var(--color-visual-grouping, #f0f);
    border-radius: var(--border-radius-default);
    padding: var(--spacer-line-break);
  }

  .visually-grouped-list {
    border-left: solid 2px var(--color-accent, #f0f);
    &.aside {
      border-color: var(--text-color-dimmed);
    }
    padding-left: 1.5rem;
    margin: var(--spacer-full) 0 var(--spacer-line-break, 500px) 0;
    &:first-child {
      margin-top: 0;
    }
  }
}
