@use 'scss-variables';
@use 'typography';

// Main Menu

header {
	label {
		// This label contains an SVG Icon
		position: absolute;
		top: calc(var(--body-margin) + 0.28125rem); //To align the icon with the headline displayed left of it while collapsed
		right: var(--body-margin);
		z-index: 101;
	  }

	nav {
		/*
		The input[type=checkbox] triggers all .triggered nodes to change the menu icon and show/hide the menu
		*/
		.menu {
			display: none;
			position: fixed;
			z-index: 100;
			top: 0;
			right: 0;
			left: 0;

			background-color: var(--color-page, #f0f);
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: var(--grid-gap-mobile);
		}

		input[type=checkbox]#nav-toggle {
			visibility: hidden;
			position: absolute;
			left: -5000px;

			& + label #close {
				display: none;
			}

			&:checked {
				& ~ label {
					position: fixed;
				}
				& ~ .triggered-by-nav-toggle #close {
					display: unset;
				}

				& ~ .triggered-by-nav-toggle #menu {
					display: none;
				}
				& ~ .menu.triggered-by-nav-toggle {
					display: flex;

					margin: 0;
					padding: var(--body-margin);
					min-height: 100vh;
					min-height: 100lvh;
				}
			}
		}

		ul {
			list-style: none;
			padding: 0;
		}

		a {
			@media (max-width: #{(scss-variables.$break-point-tablet-)}) {
				&:not(*[role=button]) {
					@include typography.S-headline;
				}
			}

			&:link, &:active, &:visited {
				text-decoration: none;
				color: var(--text-color-link, #f0f);
			}

			&:hover, &:focus {
				text-decoration: underline;
				color: var(--text-color-body-text, #f0f);
			}
			&.current {
				text-decoration: underline;
			}
		}

		@media (min-width: #{scss-variables.$break-point-tablet}) {
			input, label {
				display: none;
			}

			.menu {
				display: flex;
				position: unset;

				flex-direction: row;
				justify-content: flex-start;
				align-items: flex-start;
				gap: 0.5rem;
				padding: 1rem 0 0 0; //(H1 Line height / 2) - nav-item-height = Baseline alignment for nav text
				margin: 0;
			}

			a, a[role=button] {
				padding: calc(0.25rem - 1px) calc(0.5rem - 1px);
			}
		}
	}
}
