// SCSS variables

// Breakpoints
$break-point-XS-phone-: 375px;
$break-point-XS-phone: 375px;

$break-point-phone-: 390px;
$break-point-phone: 390px;

$break-point-tablet-: 743px;
$break-point-tablet: 744px;

$break-point-desktop-: 1279px;
$break-point-desktop: 1280px;
