@use 'scss-variables';

// Typography foundation

//Adobe Fonts
@import url("https://use.typekit.net/xyc8fjn.css");

//Text Styles
@mixin body-text {
  font-family: proxima-nova, 'Proxima Nova', sans-serif;
  font-weight: 500;
  font-style: normal;

  font-size: 1rem;
  line-height: 1.5rem; // !!! a[role=button] uses same value for height, update if changed!
  color: var(--text-color-body-text, #f0f);
}

body {
  @include body-text();
}

p {
  margin: 0 0 1rem 0;

  &:last-child {
    margin-bottom: 0;
  }
}

a {
  &:link, &:active, &:visited {
    text-decoration: underline;
    color: var(--text-color-link, #f0f);
  }

  &:hover, &:focus {
    text-decoration: underline;
    color: var(--color-accent, #f0f);
  }
}

@mixin _body-emphasis {
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
}

em, strong {
  @include _body-emphasis();
}

@mixin _body-underline {
  text-decoration: underline;
}

.underline {
  @include _body-underline();
}

// A literal is a word mark, or untranslated name of an object. Inline text.
@mixin _body-literal {
  font-style: italic;
}

.literal {
  @include _body-literal();
}

// ---Headline Styles---
//h1
@mixin headline-font {
  font-family: futura-pt, "Futura PT", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
}

@mixin L-headline {
  @include headline-font();

  font-size: 2rem;
  line-height: 3rem;
  color: var(--text-color-high-contrast, #f0f);
}

@mixin S-headline {
  @include L-headline();

  font-size: 1.5rem;
  line-height: 3rem;
}

h1 {
  @include S-headline();

  margin: 0 0 1rem 0;

  @media (min-width: #{scss-variables.$break-point-tablet}) {
    @include L-headline();
  }
}

//h2
@mixin L-section-title {
  @include L-headline();

  font-size: 4rem;
  line-height: 6rem;

  color: var(--text-color-dimmed, #f0f);
}

@mixin S-section-title {
  @include L-section-title();

  font-size: 2.5rem;
  line-height: 3rem;
}

h2 {
  @include S-section-title();
  margin: 0 0 1rem 0;

  @media (min-width: #{scss-variables.$break-point-tablet}) {
    @include L-section-title();
    margin: 0 0 1rem 0;

    &.nude {
      margin: 2rem 0 1rem 0;
    }
  }

  &.nude {
    margin: 2rem 0 1rem 0;
  }
}

//h3
@mixin _L-H3 {
  @include headline-font();
  line-height: 2rem;
  font-size: 1.5rem;
}

@mixin _S-H3 {
  @include headline-font();
  font-size: 1.25rem;
  line-height: 1.5rem;
}

h3 {
  @include _S-H3();

  margin: var(--space-full) 0 1rem 0;

  @media (min-width: #{scss-variables.$break-point-tablet}) {
    @include _L-H3();
  }

  &:first-child {
    margin-top: 0;
  }
}

//h4
@mixin _H4 {
  @include body-text();
  font-weight: 300;
}

h4 {
  @include _H4();

  margin: 1.5rem 0 0 0;
}

//Lists
@mixin _list-head {
  font-weight: 300;
}

ol, ul {
  margin: 0 0 1rem 0;
  padding: 0 0 0 0.6rem;

  h3 + &, h5 + & {
    margin: 1rem 0 0 0;
  }
  @include _list-head();
  li {
    @include body-text();
    padding-left: 0.8rem;
  }
}

ul {
  list-style-type: "–";

  ul {
    list-style-type: '\2022';
  }
}

//Misc
@mixin L-article-teaser {
  @include body-text();

  font-weight: 300;
  font-size: 1rem;
  line-height: 3rem;
}

@mixin S-article-teaser {
  @include L-article-teaser();

  font-size: 1.25rem;
  line-height: 2rem;
}

p.teaser {
  @include S-article-teaser();
}

@media (min-width: #{scss-variables.$break-point-tablet}) {
  p.teaser {
    @include L-article-teaser();
  }
}

.dim {
  color: var(--text-color-dimmed, #f0f);
}

.accent {
  color: var(--color-accent, #f0f)
}
