@use 'globals';

//Responsive Content

@mixin responsive-image { //This is so other, more specific classes can use @include for this feature
	&.mobile {
		display: none;
	}
	&.tablet {
		display: none;
	}
	&.desktop {
		display: none;
	}

	@media (max-width: #{(globals.$break-point-tablet-)}) {
		&.mobile {
			display: block;
		}
	}
	@media (min-width: #{globals.$break-point-tablet}) and (max-width: #{(globals.$break-point-desktop-)}) {
		&.tablet {
			display: block;
		}
	}
	@media (min-width: #{globals.$break-point-desktop}) {
		&.desktop {
			display: block;
		}
	}
}
